@font-face {
    font-family: "PTSans";
    src: url("../fonts/PT_Sans/PTSans-Regular.ttf"); 
   
  }

header{
    width: 100%;
    background: #FFFEFE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);   
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: fixed;
 
   }
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-links{
        color: #C4C4C4;
        text-decoration: none;
    }
.menu-links-projects{
        color: #000000;
        text-decoration: none;
    }
.cta{

        font-family: "PTSans";
        display: flex;
        font-size: 20px;
        align-items: center;
        height: 56px;
        border-radius: 4px;
        background-color: #0066EE;
        color: white;
        padding: 0 44px;
        width: fit-content; 
        text-decoration: none;
        margin-right: 14px;
        cursor: pointer;
           
    }    
.navigation-menu {
        display: flex;
        width: 389px;
        justify-content: space-between;
        font-size: 20px;
        font-family: "PTSans";
        }

main{
    font-family: "PTSans";
    padding-top: 150px;
    width: 60%;
    margin: 0 auto;
        }  

.article-title-h1{
    font-size: 42px;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 20px;
    
    
}  
  
.hello{
    margin-bottom: 30px;
} 
.video{
    margin-bottom: 60px;
    margin-left: 8%;
}
.article-div-container{
    font-size: 20px;
    font-weight: 400; 
    line-height: 28px;
    

}
.article-description{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: left;
    
}
.encuesta-description{
    margin-top: 8px;
    margin-bottom: 16px;
    list-style-type: disc;
    margin-left: 6%;
    width: 90%;
}

h2 {
    font-size: 30px;
    margin-top: 40px;  
}

h3{
    font-size: 25px;  
    text-align: left;
    margin-top: 16px;
    margin-bottom: 16px;
    
}

.joey{
    margin-left: 20%;
 
}

.moviles{
    margin-top: 24px;
    
 
}
.foto-prototipo-figma{

    margin-bottom: 16px;

}
footer {
    width: 100%;
    height: 400px;
    background-color:#D5F3FE;
    margin-top: 80px;
   
}
.section-footer{
    display: flex-end;
    background-color:#D5F3FE
  }
  
  .footer-title {
    font-family: "PTSans";
    font-size: 30px;
    line-height: 42px;
  }
  
  .article-about {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 32px;
  }
  
  .footer-description {
    font-family: "PTSans";
    font-size: 20px;
    line-height: 28px;
    text-decoration: none;
    color: #000000;
  }
  
  .article-icons {
    display: flex;
    justify-content: flex-end;
  }
  
  .div-icons {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin-bottom: 16px;
  }
  .medium {
    margin-right: 34px;
  }
